:root {
    --box: red solid 1px;
}
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    
}


header{
    outline: var(--box);
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    color: #F9FAF8;
    background-color: #1F2937;
   
}

header ul{
    outline: var(--box);
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: end;
    list-style: none;
}

header h3{
    height: 3rem;
    width: 10.5rem;
    outline: var(--box)x;
    display: flex;
    align-items: center;
    font-size: 24px;
   

}

main {
    
}
    

.hero {
    display: grid;
    place-items: center;
    background-color: red;
    background-color: #1F2937
}


.content{
    height: 100%;
    width: 60%;
    background-color: #1F2937;
    outline: var(--box);
   
}

.content-main{
    outline: var(--box);
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
}

#placeholder{
    outline:var(--box);
    width: 500px;
    height: 200px;
    text-align: center;
    margin-left: 10px;
    display: flex;
    background-color: gray;
    justify-content: center;
    align-items: center;
}

.text--btn{
    height: auto;
    width: 400px;
    outline: var(--box);
}

.text--btn h1{
    font-weight: bolder;
    font-size: 48px;
}

.text--btn p{
    font-size: 18px;
    color: #E5E7EB;
}